.singleDrink-container{
    /* background-color: #c4c4c4;
    height: 570px;
    width: 350px;
    padding: 15px;
    position: relative;
    justify-self: center;
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%, 0% 50%); */
    /* background-color: #c4c4c4; */
    /* height: 440px; */
    border: 2px solid red;

}

.image-container {
    /* width: 296px; */
    height: 370px;
    background-color: #fff;
    padding: 15px;
    /* clip-path: polygon(15% 0%, 100% 0, 100% 86%, 85% 100%, 0 100%, 0% 16%); */
  }
  
  .image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  } 