.singleDrink-container{
    padding: 15px;
    position: relative;
    justify-self: center;
    background-color: #3252094d;

}
.image-container {
    height: 370px;
    background-color: #fff;
    padding: 15px;
    clip-path: polygon(8% 0, 100% 0, 100% 20%, 100% 90%, 93% 100%, 20% 100%, 0 100%, 0 10%);
  }
  
  .image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  } 
  .addToCart{
    background-color: rgba(67, 98, 4, 0.781);
    outline: none;
    padding:5px 20px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
  }
  .addToCart:hover{
    background-color: rgba(67, 98, 4, 0.376);
   color: black;
  }
 